/* login style */
@import url(./components/login/log.css);
/* home style */
@import url(./components/Home/home.css);
/* modale create task style */
@import url(./components//Modal/Modal.css);
/* life Cycle style */
@import url(./components/lifecycle/index.css); 
/* done style */
@import url(./components/Done/Done.css);
:root {

  /* Colors: */
  --gray: #EEEEEE;
  --red: #D9391E;
  --yellow: #FFDE59;
}

#root { 
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  font-family: 'Sora', sans-serif;
}




