.step{
    font-size: 32px;
        font-weight: 800;
        color: var(--red);
        position: absolute;
        top: 2vw;
        left: 3vw;
}
.step span {
    position: relative;
    left: -4.5vw;
}
.singleStep {
    z-index: 9999;
    display: flex;
    margin-top: 1.5vw;
    margin-left: 4vw;
    border: 0px #ff000000;
    background-color: transparent;
    justify-content: flex-start;
    width: 27.5vw;
    color: #ff0000;
    padding: 10px 80px 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.singleStep:hover {
    background-color: rgba(97, 94, 94, 0.1);
    color: #ff0000;
    border-style: solid;
}

.singleStep p {
    margin: 1px;
    margin-left: .8vw;
    margin-right: 7px;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.singleStep span{
    margin: 1px;
    margin-top: 0;
        margin-left: 5.4vw;
        margin-right: 7px;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        align-items: center;
}
.modify{
    position: fixed;
        left: 39vw;
    width: 1vw;
    height: 1vw;
    
}
.buttons{
    font-size: 32px;
        font-weight: 800;
    position: absolute;
        top: 7vw;
        right: 20vw;
        width: 18vw;
        height: 25vw;
        background-color: #eeeeee;
        box-shadow: 0px 3px 10px #00000033;
            border-radius: 32px;
}
.addStep{ 
    background-color: var(--yellow);
    color: var(--red);
    width: 320px;
    left: 1.7vw;
    top: 1.4vw;
}
.save{
    color: white;
    background-color: var(--red);
    width: 320px;
    left: 1.7vw;
}
.save:hover{
    .svgSave{
        fill: var(--red);
    }
}
.ripristina{
    width: 320px;
    left: 1.7vw;
}
.tomatoStep{
    position: absolute;
    top: 2vw;
    left: 65vw;
}