.modal-overlay {
  z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-title{
    display: flex;
    align-items: center;
  }

  .pencil{

    margin-right: 15px;
    color: #d9391e;
  }

  .input-title{
    background-color: white;
    font-size: 25px;
    color: #d9391e;
    border: 0;
  }

  .input-title:focus{
    outline: none;
  }

  ::placeholder{
    color: #d9391e;
  }

  .underline{
    display: flex;
    border-bottom: 1px solid;
    width: 100%;
    color: #d9391e;
  }

  .description{
    background-color: white;
    border: 1px solid #eeeeee;
    width: 400px;
    height: 50px;
    border-radius: 15px;
    text-align: start;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #d9391e;
    resize: none;      
  }
  
  .description:focus{
    outline: none;    
  }

  .position-button{
    display: flex;
    justify-content: space-between;
  }

  .button-cancel{
    font-size: 16px;
    background-color: white;
    color: #d9391e;
    border: 1px solid #d9391e;
    margin-right: 10px;
    width: 120px;
    height: 35px;
    text-align: center;
    line-height: 15px;
    
  }

  .button-add{
    font-size: 16px;
    background-color: #d9391e;
    color: white;
    border: 1px solid #d9391e;
    width: 120px;
    height: 35px;
    line-height: 15px;
  }

  .button-cancel:hover{
    border: 1px solid #d9391e;
  }

  .button-cancel:focus{
    border: 1px solid #d9391e;
    outline: none;
  }

  .button-add:hover{
    border: 1px solid #d9391e;
  }

  .button-add:focus{
    border: 1px solid #d9391e;
    outline: none;
  }
  
  .modal {
    z-index: 999;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    color: #d9391e;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    width: 450px;
    height: 230px;
  }  
.bottone {
  width: 640px;
  height: 80px;
  position: absolute;
  left: .5vw;
  border: 1px dashed #ff0000;
  background-color: transparent;
  color: #ff0000;
  padding: 20px 80px 20px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  display: flex;
  justify-content: flex-start;
  margin-top: 1vw;
  align-items: center;
}


.bottone:hover {
  background-color: rgba(125, 120, 120, 0.1);
  color: #ff0000;
  border-color: #ff0000;
  border-style: solid;
}

.bottone p {
  margin: 1px;
    margin-left: .8vw;
    margin-right: 7px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
  display: flex;
  align-items: center;
}