:root {

  /* Colors: */
  --gray: #EEEEEE;
  --red: #D9391E;
  --yellow: #FFDE59;
}

#root { 
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
background-color: var(--gray);
}

.counter_container{
  position: relative;
  top: -30rem;
    left: 42rem;
    width: 318px;
    height: 41px;
}
.kanbanBoard{
  background-color: white;
  position: fixed;
  bottom:  0;
  left: 6.25vw;
  width: 87.5vw;
    height: 920px;
    box-shadow: 0px 3px 6px #00000040;
    border-radius: 32px 32px 0px 0px;
}