#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}







.hero_section {
  padding: 70px;
  background-color: #0c0a09;
  height: 600px;
  display: flex;
  align-items: left;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;

}

.title {
  font-size: 1.9vw;

}

.title h2 {
  color: #e2e8f0;
  display: inline;
}

.title h1 {
  padding-left: 7px;
  color: #7c3aed;
  letter-spacing: 13px;
  display: inline;
  font-size: 160%;

}

.subtitle {
  font-size: +1.2vw;
  color: #e2e8f0;
  letter-spacing: .9vw;
}

.hero_section button {
  display: inline;
  background-color: #7c3aed;
  width: 280px;
  height: 30px;
  margin-top: 20px;
  color: #e2e8f0;
  border: none;
  border-radius: 12px;
  font-weight: bold;
}









.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
