/* home style */

/* contatori */
.counter_container {
    position: relative;
    top: -30rem;
    left: 43rem;
    width: 318px;
    height: 41px;
}
/*  icona account */
.AccountImg {
    position: fixed;
    top: 2vw;
    left: 90.75vw;
}

/* kanban board */
.kanbanBoard {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 6.25vw;
    right: 6.25vw;
    width: 87.5vw;
    height: 920px;
    box-shadow: 0px 3px 6px #00000040;
    border-radius: 32px 32px 0px 0px;
}

/* logo */
.logo_home {
    position: fixed;
    top: 1.8vw;
    left: 6.25vw;
}

/* TO DO */
.tasks_to_do {
    font-size: 32px;
    font-weight: 800;
    color: var(--red);
    position: absolute;
    top: 4vw;
    left: 2vw;
}
.tasks_to_do span{
    position: fixed;
    top: 11vw;
    left: 9.354vw;
}
/* sezione rettangolo giallo */
.time_to_focus {
    display: flex;
    background-color: var(--yellow);
    position: fixed;
    bottom: 0;
    left: 40.41vw;
    width: 19.16vw;
    height: 872px;
    border-radius: 8px 8px 0px 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.time_to_focus span {
    margin-top: 2vw;
    font-weight: 600;
    color: var(--red);
    font-size: 28px;
}

.time_to_focus h1 {
    color: var(--red) !important;
    font-size: 96px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 1.8vw;
}

.time_to_focus p {
    color: var(--red);
    font-size: 20px;
    font-weight: 400;
    margin-top: .5vw;
}
/* bottone PLAY */
.playButton {
    background-color: var(--yellow);
    position: absolute;
    bottom: 17.5vw;
    right: 7.4vw;
}

/* WORKING AT */
.work_at {
    margin-top: 17.5vw;
    font-weight: 600;
    color: var(--red);
    font-size: 20px;
}

/* tasti return TO DO e DONE */
.todo_done_btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

/* DONE */
.doneSpan{
    font-size: 32px;
        font-weight: 800;
        color: var(--yellow);
        position: fixed;
        top: 11vw;
        right: 33.35vw;
}
.tasks_done {
    font-size: 32px;
    position: absolute;
    top: 4vw;
    right: 3vw;
}
.task1 {
    z-index: 9999;
    display: flex;
    margin-top: 1.5vw;
    margin-left: 1.2vw;
    border: 0px #ff000000;
    background-color: transparent;
    justify-content: flex-start;
    width: 27.5vw;
    color: #ff0000;
    padding: 10px 80px 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task1:hover {
    background-color: rgba(97, 94, 94, 0.1);
    color: #ff0000;
    border-style: solid;
}

.task1 p {
    margin: 1px;
    margin-left: .8vw;
    margin-right: 7px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.freccia{
    position: fixed;
    left: 35vw;
    width: 1vw;
    height: 1vw;
    
}
.task2 {
    border: 0px #ff000000;
    background-color: transparent;
    color: #ff0000;
    padding: 10px 80px 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task2:hover {
    background-color: rgba(97, 94, 94, 0.1);
    color: #ff0000;
    border-style: solid;
}

.task2-contenuto {
    display: flex;
    align-items: center;
}
.working-at{
    border: 3px solid white;
    height: 2.5vw;
    width: 15vw;
    margin-bottom: .5vw;
}
